<div class="d-flex">
    <div class="dropdown">
        <button class="dropdown-toggle rounded-circle" type="button" id="menuDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 25px; height: 25px; padding: 0;">
          <i class="bi bi-person-fill"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="menuDropdown">
            <p style="margin-left: 20px;">Роль: Студент</p>
        </ul>
    </div>
    <p style="margin-left: 10px;">{{user.lastName}} {{user.firstName}} {{user.patronymic}}</p>
</div>