
<div class="login-page">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Login</label>
            <input formControlName="login" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Введите логин">
        </div>

        <div class="mb-3">
            <label for="inputPassword5" class="form-label">Password</label>
            <input formControlName="password" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Введите пароль">
        </div>    
        
        <div class="mb-3 text-center">
            <button type="button" class="btn btn-link center">Восстановить пароль</button>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-secondary w-100">Войти</button>
        </div>
    </form>
</div>