:root{
    --dark-color: #000000;
    --light-color: #ffffff;
    --primary-color: #333333;
    --body-color: #F5F5F5;
    --succed-button-color: #F5F5F5;
    --link-color: #007BFF;
    --error-color: #af6060;
    --info-color: #e2ebb3;
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--body-color) !important;
    font-family: Arial, sans-serif;
}

.info-label {
    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--info-color);
    text-align: justify;
}

.error-label {
    color: var(--error-color);
    font-size: 14px;
    text-align: center;
}

.succeed-button {
    width: 100%;
    padding: 10px;
    border-color: #c9c9c9;
    border-radius: 30px;
    background: var(--succed-button-color);
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.cancel-button {

}