<div class="center-page">
    <div class="recovery-profile">
        <form [formGroup]="recoveryForm">
            <div class="info-label mb-3">
                <label>
                    If you forgot your password, you can restore access using your email. 
                    After confirming your login, a password recovery link will be sent to your email.
                </label>
            </div>
    
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                    Login or Email
                </label>
    
                <input formControlName="login" type="email" class="form-control" id="exampleFormControlInput1">
            </div>
    
            <div class="error-label">
                @if (errorText) {
                    <label>
                        {{errorText}}
                    </label>
                }
            </div>
    
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-link center" (click)="gotoRecoveryProfile()">
                    Send link from Email
                </button>
            </div>
        </form>
    </div>
</div>